body {
    color: #34495e;
    background-image: url("/assets/food.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.registration-container {
    max-width: 500px;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #34495e;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    color: #34495e;
}

input[type="password"] {
    color: #34495e;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #34495e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e74c3c;
}