<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yemek Menüsü</title>
    <link rel="stylesheet" href="./admin-siparis.component.css">

</head>
<div class="main-panel">
    <img src="assets/bowl.png" alt="resim bulunamadı!!" height="120" width="120" />
    <h3>ADMİN</h3>
    <ul class="menu cf">
        <li>
            <a href="/admin">Ana Sayfa</a>
        </li>
        <li>
            <a routerLink="/adminYemek">ÜRÜN İŞLEMLERİ</a>
        </li>
        <li>
            <a routerLink="/adminSiparis">Siparişleri Yönet</a>
        </li>
        <li>
            <a routerLink=" ">Çıkış Yap</a>
        </li>
    </ul>
</div>

<body>
    <div class="siparis-container">
        <div class="txt">
            <h2>SİPARİŞLER</h2>
        </div>
        <div>
            <div>
               
            </div>
            <div>
                
            </div>
        </div>

    </div>
</body>