<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yemek Menüsü</title>
    <link rel="stylesheet" href="./yemek.component.css">

</head>

<div class="main-panel">
    <img src="assets/bowl.png" alt="resim bulunamadı!!" height="120" width="120" />
    <ul class="menu cf">
        <li>
            <a href="/main">Ana Sayfa</a>
        </li>
        <li>
            <a routerLink="/yemek">Menü</a>
        </li>
        <li>
            <a routerLink="/siparis">Siparişlerim</a>
        </li>
        <li>
            <a routerLink="/kampanyalar">Kampanyalar</a>
        </li>
        <li>
            <a routerLink="/profil">Profil</a>
        </li>
        <li>
            <a routerLink=" ">Çıkış Yap</a>
        </li>
    </ul>
</div>

<body>
    <div class="yemek-container">
        <div class="txt">
            <h2>YEMEKLER MENÜSÜ</h2>
        </div>
        <div>
            <div class="navbar">
                <button
                    *ngFor="let category of ['ÇORBALAR', 'MEZELER', 'SALATALAR', 'ARA SICAKLAR', 'ANA YEMEKLER', 'TATLILAR', 'İÇECEKLER']"
                    (click)="filterMeals(category)" [class.active]="selectedCategories.includes(category)">
                    {{ category }}
                </button>
            </div>
            <div>
                <div *ngFor="let y of yemekler" [class.hidden]="!isMealVisible(y.category)">
                    {{ y.name }} - {{ y.category }}
                </div>
            </div>
        </div>

    </div>
</body>