<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giriş Sayfası</title>
  <link rel="stylesheet" href="login.component.css">
</head>

<body>
  <div class="login-container">
    <h1>Giriş Yap</h1>
    <form>
      <label for="username">Kullanıcı Adı:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Şifre:</label>
      <input type="password" id="password" name="password" required>
      
      <button type="login">Giriş Yap</button>
      <button routerLink="/sign-up">Kayıt Ol</button>
    </form>
  </div>
</body>

</html>
