body {
    color: #34495e;
    background-image: url("/assets/food.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.login-container {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    max-width: 500px;
    padding: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #34495e;
    margin: 0 auto;
}


h1 {
    text-align: center;
}

form {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    color: #34495e;
}

input[type="password"] {
    color: #34495e;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #34495e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e74c3c;
}

.main-panel {
    display: flex;
    justify-content: center;
}

.txt{
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #34495e;
    padding: 10px;
}

.navbar button {
    margin: 0 10px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #e74c3c;
}


.navbar button.active {
    background-color: #e74c3c;
}

.hidden {
    display: none;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    margin: 10px auto;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}

.menu>li {
    background: #34495e;
    float: left;
    position: relative;
    transform: skewX(25deg);
    z-index: 1;
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background: #e74c3c;
}

.menu>li>a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

