<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yemek Sipariş Uygulaması</title>
  <link rel="stylesheet" href="./first-page.component.css">

</head>

<body>
  <div class="main-panel">
    <img src="assets/bowl.png" alt="resim bulunamadı!!" height="120" width="120" />
    <ul class="menu cf">
      <li>
        <a href=" ">Ana Sayfa</a>
      </li>
      <li>
        <a routerLink="/login">Giriş Yap</a>
      </li>
    </ul>
  </div>
  <header>
    <div class="image-container">
      <img src="assets/food.png" alt="resim bulunamadı!!" width="1519" height="600" />
    </div>
  </header>
</body>

</html>