<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yemek Sipariş Uygulaması</title>
  <link rel="stylesheet" href="./restaurant.component.css">

  <style>

  </style>
</head>

<body>
  <ul class="menu cf">
    <div class="text-center">
      <h3>YEMEK SİPARİŞ UYGULAMASI</h3>
    </div>
    <li>
      <a href="">Ana Sayfa</a>
    </li>
    <li>
      <a href="">Tüm Yemekler</a>
    </li>
    <li>
      <a href="">Menü</a>
      <ul class="submenu">
        <li><a href="">Çorbalar</a></li>
        <li><a href="">Mezeler</a></li>
        <li><a href="">Salatalar</a></li>
        <li><a href="">Ana Yemekler</a></li>
        <li><a href="">Ara Sıcaklar</a></li>
        <li><a href="">İçecekler</a></li>
        <li><a href="">Tatlılar</a></li>
      </ul>
    </li>
    <li>
      <a href="">Siparişlerim</a>
    </li>
    <li>
      <a href="">Kampanyalar</a>
      <ul class="submenu">
        <li><a href="">Bana Özel Kampanyalar</a></li>
        <li><a href="">Geçmiş Kampanyalarım</a></li>
      </ul>
    </li>
    <li>
      <a href="">Profil</a>
    </li>
    <li>
        <a routerLink="/login">Giriş Yap</a>
    </li>
  </ul>
  <header>
    <div class="image-container">
      <img src="assets/food.png" alt="resim bulunamadı!!" width="1519" height="600" />
    </div>
  </header>
</body>

</html>